/*start header*/
header{
    padding: 47px 0px;
    
}
nav ul{
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
}
.search form{
    border: 2px solid #E7E6EF;
    border-radius: 2px;
}
.search input{
    border: none;
    outline: none;
    font-size: 20px;
}
.search button{
    border: none;
    outline: none;
    padding: 8px 13px;
    background-color: var(--maincolor );
    cursor: pointer;
}
.list li a{
    color: var(--foredcolor);
    font-family: var(--firstfamily);
    transition: 0.3s;
}
.list li a:hover{
    color: var(--maincolor);
}
.header .bar{
    font-size: 20px;
    display: none;
}
/*end header*/
/*start newlater*/
.newslater{
    background-image: url(./image/product/newslater.webp);
    background-size: cover;
    background-position: center;
    padding: 177px 0px;
    text-align: center;
    background-attachment: fixed; 
}
.newslater .text-newslater{
    max-width: 600px;
    line-height: 1.5;
    margin: 0 auto;
    font-size: 24px;
}
.newslater .btn-newslater{
    margin-top: 29px;
}
.newslater .btn-newslater button{
    border: none;
    outline: none;
    padding: 16px 34px;
    border-radius: 2px;
    background-color: var(--maincolor);
    color: #FFFFFF;
    cursor: pointer;
    transition: all 0.5s;
}
.newslater .btn-newslater button:hover{
    background-color: rgb(46, 44, 44);
}

/*end newlater*/
/*start clients*/
.clients .row{
    margin: 96px 0px;
    justify-content: center;
    flex-wrap: nowrap;
    overflow: auto;
    
}
@media screen and (max-width:1000px) {
    .clients .logo{
        width: calc((100% - 30px ) / 4);
    }
    
}
@media screen and (max-width:900px) {
    .clients .logo{
        width: calc((100% - 20px ) / 3);
    }
    
}
@media screen and (max-width:750px) {
    .clients .logo{
        width: calc((100% - 10px ) / 2);
    }
    
}
@media screen and (max-width:650px) {
    .clients .logo{
        width: calc((100% - 10px ) / 2);
    }
    
}@media screen and (max-width:550px) {
    .clients .logo{
        width: calc((100% - 10px ) / 2);
    }
    
}
@media screen and (max-width:450px) {
    .clients .logo{
        width: calc((100% - 0px ) / 1);
    }
    
}
@media screen and (max-width:350px) {
    .clients .logo{
        width: calc((100% - 0px ) / 1);
    }
    
}

/*end clients*/
/*start footer*/
.footer{
    background-color: #EEEFFB;
    padding-top: 25px;
    padding-right: 240px;
    padding-bottom: 20px;
    
    
}
.left-footer{
    align-items: flex-start;
}
.left-footer form{
    display: flex;
    
    border: 1px solid #E7E6EF;
    border-radius: 2px;
}
.left-footer input{
    padding-left: 20px;
    border: none;
    outline: none;
    font-size: 20px;
}
.left-footer input::placeholder{
    color: var(--fivecolor);
    font-size: 16px;
}
.left-footer button{
    color: #fff;
    border: none;
    border-radius: 2px;
    outline: none;
    padding: 12px 40px;
    background-color: var(--maincolor );
    cursor: pointer;
}
.right-footer{
    padding-top: 75px;
}
.right-footer ul a:hover{
    text-decoration: underline;
}
/*end footer*/
/*media coery*/
@media screen and (max-width:1300px) {
    .list , .search {
        display: none;
    }
    .header .bar{
        display: block;
    }
}


