/*start header*/
header{
    padding: 47px 0px;
    
}
nav ul{
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
}
.search form{
    border: 2px solid #E7E6EF;
    border-radius: 2px;
}
.search input{
    border: none;
    outline: none;
    font-size: 20px;
}
.search button{
    border: none;
    outline: none;
    padding: 8px 13px;
    background-color: var(--maincolor );
    cursor: pointer;
}
.list li a{
    color: var(--foredcolor);
    font-family: var(--firstfamily);
    transition: 0.3s;
}
.list li a:hover{
    color: var(--maincolor);
}
.header .bar{
    font-size: 20px;
    display: none;
}
/*end header*/
/*start featured product*/
.Featured_Products{
    padding: 50px 0;
}
.Featured_Products .row{
    justify-content: flex-start;
    gap: 30px;
}
.Featured_Products .product{
    flex: 1 0 300px;
    box-shadow: 0px 4px 4px 0px #00000040;
}
.product{
    position: relative;
}
.product .icons-prodects{
    display: none;
}
.product:hover .icons-prodects{
    position: absolute;
    top: 11px;
    left: 11px;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    
}
.Featured_Products .image{
    padding: 30px;
}

.Featured_Products img{
    background-color: #F6F7FB;
    height: 178px;
}

.product .image a{
    display: none;
    color: #FFFFFF;
    margin: auto;
    text-align: center;
    background-color: #08D15F;
    width: 94px;
    height: 29px;
    padding: 9px 13px;
    border-radius: 1px;
}
.product:hover .image a{
    display: block;
    color: #FFFFFF;
    margin: auto;
    text-align: center;
    background-color: #08D15F;
    width: 94px;
    height: 29px;
    padding: 9px 13px;
    border-radius: 1px;
}
.product .product-details{
    padding: 10px 0;
    width: 100%;
}
.product .product-details{
    transition: all 0.6s;
}
.product:hover .product-details{
    width: 100%;
    background-color: #2F1AC4;
}
.product:hover .product-details h3{
    color: #FFFFFF;
}
.product:hover .product-details .color-options .btn-3{
    background-color: #FFEAC1;
}
.product:hover .product-details .product-price .code{
    text-shadow: 1px 0 #000000;
    color: #FFFFFF;
}
.product:hover .product-details .product-price .price{
    color: #FFFFFF;
}
.Featured_Products .color-options{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 10px 0px;
}
.Featured_Products .color{
    width: 14px;
    height: 4px;
    border-radius: 10px;
    border: none;
    outline: none;
    cursor: pointer;
    
}
.Featured_Products  .btn-1{
    background-color: #05E6B7;
} 
.Featured_Products  .btn-2{
    background-color: #F701A8;
    border: 1px solid #000000;
}
.Featured_Products  .btn-3{
    background-color: #00009D;
}

.Featured_Products .product-price{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    padding-bottom: 15px;
}
/*end featured product*/
/*start newlater*/
.newslater{
    background-image: url(./image/product/newslater.webp);
    background-size: cover;
    background-position: center;
    padding: 177px 0px;
    text-align: center;
    background-attachment: fixed; 
}
.newslater .text-newslater{
    max-width: 600px;
    line-height: 1.5;
    margin: 0 auto;
    font-size: 24px;
}
.newslater .btn-newslater{
    margin-top: 29px;
}
.newslater .btn-newslater button{
    border: none;
    outline: none;
    padding: 16px 34px;
    border-radius: 2px;
    background-color: var(--maincolor);
    color: #FFFFFF;
    cursor: pointer;
    transition: all 0.5s;
}
.newslater .btn-newslater button:hover{
    background-color: rgb(46, 44, 44);
}

/*end newlater*/
/*start clients*/
.clients .row{
    margin: 96px 0px;
    justify-content: center;
    flex-wrap: nowrap;
    overflow: auto;
    
}
@media screen and (max-width:1000px) {
    .clients .logo{
        width: calc((100% - 30px ) / 4);
    }
    
}
@media screen and (max-width:900px) {
    .clients .logo{
        width: calc((100% - 20px ) / 3);
    }
    
}
@media screen and (max-width:750px) {
    .clients .logo{
        width: calc((100% - 10px ) / 2);
    }
    
}
@media screen and (max-width:650px) {
    .clients .logo{
        width: calc((100% - 10px ) / 2);
    }
    
}@media screen and (max-width:550px) {
    .clients .logo{
        width: calc((100% - 10px ) / 2);
    }
    
}
@media screen and (max-width:450px) {
    .clients .logo{
        width: calc((100% - 0px ) / 1);
    }
    
}
@media screen and (max-width:350px) {
    .clients .logo{
        width: calc((100% - 0px ) / 1);
    }
    
}

/*end clients*/
/*start footer*/
.footer{
    background-color: #EEEFFB;
    padding-top: 25px;
    padding-right: 240px;
    padding-bottom: 20px;
    
    
}
.left-footer{
    align-items: flex-start;
}
.left-footer form{
    display: flex;
    
    border: 1px solid #E7E6EF;
    border-radius: 2px;
}
.left-footer input{
    padding-left: 20px;
    border: none;
    outline: none;
    font-size: 20px;
}
.left-footer input::placeholder{
    color: var(--fivecolor);
    font-size: 16px;
}
.left-footer button{
    color: #fff;
    border: none;
    border-radius: 2px;
    outline: none;
    padding: 12px 40px;
    background-color: var(--maincolor );
    cursor: pointer;
}
.right-footer{
    padding-top: 75px;
}
.right-footer ul a:hover{
    text-decoration: underline;
}
/*end footer*/
/*media coery*/
@media screen and (max-width:1300px) {
    .list , .search {
        display: none;
    }
    .header .bar{
        display: block;
    }
}


